<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RestClient/src/main/scala/RestClient.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="RestClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="get https://github.com/nraychaudhuri/scalainaction/raw/master/chap02/RestClient.scala"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RestClient"/>
</launchConfiguration>
